[user]
    name = Izidor Matušov
    email = izidor.matusov@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[mailmap]
    file = ~/.git_mailmap
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h %Cgreen(%cs) %Creset-%C(yellow)%d %Creset%s %C(bold blue)<%aN>%Creset' --abbrev-commit
    ll = log --stat
